@charset "UTF-8";

:root {
  --cor01:#A3886A;
  --cor02:#FFEDD9;
  --cor03:#F0D3B4;
  --cor04:#5A90A3;
  --cor05:#B4E0F0;

  --fonte-padrao: Arial, Verdana, Helvetica, Sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--cor02);
  font-family: var(--fonte-padrao);
}
/* Cabeçalho */
header {
  min-width: 300px;
  max-width: 800px;
  max-height: 250px;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Primeiro Artigo */
.coluna {
  min-width: 300px;
  max-width: 800px;
  max-height: 350px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  columns:  2 auto;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425); */
}
article > picture > img {
  display: inline;
  border-radius: 50%;
  max-width: 210px;
  /* padding: 0px; */
  margin: auto;
  margin-left: 10px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.048);
}
article > h1 {
  font-size: 2em;
  color: var(--cor04);
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.048);
}
article > p {
  text-align: justify;
  text-align: center; 
  min-width: 100px;
  padding: 10px;
  margin-left: 15px;
  text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.048);
}
nav > a {
  text-decoration: none;
  transition-duration: 0.5s;
  background-image: linear-gradient(to right, var(--cor05), transparent);
  border-radius: 5px;
}
article > nav > a:hover {
  background-color: var(--cor04);
  color: var(--cor5);
}
/* links */
.links {
  text-align: center;
  text-align: justify;
  margin: auto;
  background-color: rgba(99, 78, 119, 0.137);
  min-width: 100px;
  max-width: 500px;
  max-height: 550px;
}
/* Quadrados */
aside {  
  margin: auto;
  min-width: 100px;
  max-width: 800px;
  min-height: 300px;
  max-height: 800px;
  padding: 10px;
  columns: 3, 2;
  text-align: center;
  
}
aside > img {
  background-color: white;
  
}
.square{
  width: 170px;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border-left: 20px;
 }

.square:hover {
  transition-duration: 1.5s;
  background-color: var(--cor04);
  color: var(--cor5);
 }